li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.notEaten {
  display: block;
  width: 40%;
  margin: 10px;
  float: left;
}

.eaten {
  display: block;
  width: 40%;
  margin: 10px;
  float: right;
}

.footer {
  display: block;
}

.title {
  display: block;
  width: 100%;
  text-align: center;
}